main,
body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.header-con {
    width: 100%;
    height: 215px;
    background-color: #FE8A02;

}

.header1 {
    margin: 0;
    color: white;
    padding-top: 50px;
    padding-right: auto;
    padding-bottom: 50px;
    padding-left: 150px;
    font-family: 'Open Sans';
    font-size: 72px;
    font-style: normal;
    font-weight: 700;

    line-height: 160%;
}


.first-con {
    background: url(imgPr1/image\ 1.png) no-repeat;
    margin: 0;
    background-color: #F5F4F0;
    height: 914px;
    width: 100%;
    position: relative;
}

.firstimg {
    padding-top: 55px;
    padding-left: 461px;
    padding-bottom: 334px;
    position: absolute;
}

.title {
    font-family: 'Neucha';
    font-size: 72px;
    line-height: 86.4px;
    margin: 0;
    display: block;
    padding-top: 100px;
    padding-right: auto;
    position: absolute;
    padding-left: 165px;
}

.osn {
    color: #FE8A02
}

.first-wrap-text {
    display: flex;
    position: relative;
}

.first-first-text {
    padding-top: 560px;
    padding-right: 735px;
    padding-bottom: 230px;
    padding-left: 165px;
    margin: 0;
    width: 540px;
    display: inline-block;
    position: absolute;
}

.first-second-text {
    padding-top: 564px;
    padding-right: 268.81px;
    padding-bottom: 189px;
    padding-left: 735px;
    display: inline-block;
    margin: 0;
    width: 540px;
    position: absolute;

}

.first-third-img {
    padding-top: 750px;
    padding-bottom: 149px;
    padding-left: 735px;
    padding-right: 695px;
    position: absolute;
}


.second-con {
    height: 814px;
    width: 1440px;
    /*display: flex;
    justify-content: center;*/
    position: relative;

}

.center {

    margin: auto;
    /* margin-right: auto;
    width: 50%;*/
}

.second-1-img {
    top: 100px;
    right: 328.52px;
    bottom: 741px;
    left: 328.52px;
    position: absolute;
    left: 50%;
    margin-left: -201px;
}

.second-2-img {
    top: 173px;
    right: 165px;
    bottom: 668px;
    left: 165px;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -287.5px;
}

.second-3-img {
    top: 273px;
    right: 165px;
    bottom: 615px;
    left: 165px;
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -206px;
}

.video {
    top: 329px;
    right: 260px;
    bottom: 16px;
    left: 261px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    position: absolute;
    z-index: 2;
}

#navigation {
    display: flex;
    position: relative;
}

.third-1-img {
    width: 350px;
    height: 323px;
}

.second-img-2-wrapper {
    width: 350px;
    height: 323px;
    background-color: #F5F4F0;
    top: 200px;
    right: 545px;
    bottom: 468px;
    left: 545px;
    position: absolute;

}

#navigation {
    height: 991px;
    width: 100%;
    background-color: #42413C;
}

.third-1-img-wrap {
    width: 350px;
    height: 323px;

}

.third-1-img {
    padding-top: 200px;
    padding-right: 925px;
    padding-bottom: 468px;
    padding-left: 165px;
}

.second-img-2-wrapper-position,
.third-img-3-wrapper-position,
.forth-img-4-wrapper-position,
.fifth-img-5-wrapper-position,
.sixth-img-5-wrapper-position {
    position: relative;
}

.second-img-2-1 {
    padding-top: 24px;
    padding-right: 303px;
    padding-bottom: 235px;
    padding-left: 24px;
    position: absolute;
}

.second-img-2-2 {
    padding-top: 128px;
    padding-right: 24px;
    padding-bottom: 154px;
    padding-left: 24px;
    position: absolute;
}

.second-img-2-3 {
    padding-top: 185px;
    padding-right: 24px;
    padding-bottom: 35px;
    padding-left: 24px;
    position: absolute;
}

.third-img-3-wrapper {
    width: 350px;
    height: 323px;
    background-color: #F5F4F0;
    position: absolute;
    top: 200px;
    right: 165px;
    bottom: 468px;
    left: 925px;
}

.third-img-3-1 {
    padding-top: 24px;
    padding-right: 300px;
    padding-bottom: 235px;
    padding-left: 24px;
    position: absolute;
}

.third-img-3-2 {
    padding-top: 128px;
    padding-right: 24px;
    padding-bottom: 115px;
    padding-left: 24px;
    position: absolute;
}

.third-img-3-3 {
    padding-top: 224px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    position: absolute;
}

.forth-img-4-wrapper {
    width: 350px;
    height: 348px;
    background-color: #F5F4F0;
    position: absolute;
    top: 543px;
    right: 925px;
    bottom: 100px;
    left: 165px;
}

.forth-img-3-1 {
    padding-top: 24px;
    padding-right: 303px;
    padding-bottom: 260px;
    padding-left: 24px;
    position: absolute;
}

.forth-img-3-2 {
    padding-top: 128px;
    padding-right: 24px;
    padding-bottom: 179px;
    padding-left: 24px;
    position: absolute;
}

.forth-img-3-3 {
    padding-top: 185px;
    padding-right: 24px;
    padding-bottom: 33px;
    padding-left: 24px;
    position: absolute;
}

.fifth-img-5-wrapper {
    width: 350px;
    height: 348px;
    background-color: #F5F4F0;
    position: absolute;
    top: 543px;
    right: 545px;
    bottom: 100px;
    left: 545px;
}

.fifth-img-3-1 {
    padding-top: 24px;
    padding-right: 303px;
    padding-bottom: 260px;
    padding-left: 24px;
    position: absolute;
}

.fifth-img-3-2 {
    padding-top: 128px;
    padding-right: 24px;
    padding-bottom: 140px;
    padding-left: 24px;
    position: absolute;
}

.fifth-img-3-3 {
    padding-top: 220px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    position: absolute;
}

.sixth-img-6-wrapper {
    width: 350px;
    height: 348px;
    background-color: #F5F4F0;
    position: absolute;
    top: 543px;
    right: 165px;
    bottom: 100px;
    left: 925px;
}

.sixth-img-3-1 {
    padding-top: 24px;
    padding-right: 303px;
    padding-bottom: 260px;
    padding-left: 24px;
    position: absolute;
}

.sixth-img-3-2 {
    padding-top: 128px;
    padding-right: 24px;
    padding-bottom: 179px;
    padding-left: 24px;
    position: absolute;
}

.sixth-img-3-3 {
    padding-top: 185px;
    padding-right: 24px;
    padding-bottom: 33px;
    padding-left: 24px;
    position: absolute;
}

#ikea-effect {
    background: url(imgPr1/image\ 1.png) no-repeat;
    background-color: #F5F4F0;
    height: 905px;
    width: 100%;
    position: relative;
    vertical-align: middle;
}

.fourth-img-1-wrapper {
    display: flex;
}

.fourth-img-1 {
    top: 100px;
    right: 697px;
    bottom: 371px;
    left: 165px;
    vertical-align: middle;
    width: 578px;
    height: 434px;
}

.fourth-img-2 {
    top: 100px;
    right: 165px;
    bottom: 831px;
    left: 773px;
    position: absolute;
}

.fourth-img-3 {
    top: 129px;
    right: 165px;
    bottom: 759px;
    left: 773px;
    position: absolute;
}

.fourth-img-4 {
    top: 231px;
    right: 165px;
    bottom: 609px;
    left: 773px;
    position: absolute;
}

.howmanifests {
    width: 1110px;
    height: 26px;
    top: 634px;
    left: 165px;
    background: #B09A81;
    position: absolute;
}

.howmanifests-text {
    padding-top: 5px;
    padding-right: 968px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    margin: 0;
    color: white;
}

.howmanifests-text-position {
    position: relative;
    margin: 0;
}

.fourth-img-2-wrapper {
    display: flex;
}

.fourth-img-2-1 {
    top: 680px;
    right: 735px;
    bottom: 155px;
    left: 165px;
    position: absolute;

}

.fourth-img-2-2 {
    top: 680px;
    right: 165px;
    bottom: 155px;
    left: 735px;
    position: absolute;
}

#premature-optimization {
    background: url(imgPr1/image\ 1.png) no-repeat;
    background-color: #B09A81;
    height: 855px;
    width: 1440px;
    position: relative;
}

.fifth-1-wrapper {
    display: flex;
}

.fifth-img-1-1 {
    top: 100px;
    right: 773px;
    bottom: 831px;
    left: 165px;
    position: absolute;
}

.fifth-img-1-2 {
    top: 129px;
    right: 773px;
    bottom: 687px;
    left: 165px;
    position: absolute;
}

.fifth-img-1-3 {
    top: 303px;
    right: 773px;
    bottom: 534px;
    left: 165px;
    position: absolute;
}

.fifth-img-2 {
    top: 100px;
    right: 165px;
    bottom: 426px;
    left: 697px;
    position: absolute;
}

.howmanifests_2 {
    width: 1110px;
    height: 26px;
    top: 634px;
    left: 165px;
    background-color: #fff;
    margin: 0;
    position: absolute;
}

.howmanifests_2-text-position {
    position: relative;
    margin: 0;
}

.howmanifests_2-text {
    padding-top: 6px;
    padding-right: 964px;
    padding-bottom: 4px;
    padding-left: 10px;
    position: absolute;
    font-family: 'Open Sans';
    size: 14px;
    line-height: 16.8px;
    color: #B09A81;
    margin: 0;
    font-weight: 700;
    flex-wrap: nowrap;
}

.fifth-img-3-wrapper {
    display: flex;

}

.fifth-con-img-3-1 {
    position: absolute;
    top: 681px;
    right: 735px;
    bottom: 175px;
    left: 165px;
    margin: 0;
}

.fifth-con-img-3-2 {
    top: 681px;
    right: 165px;
    bottom: 201px;
    left: 735px;
    position: absolute;
}

#distortion-of-novelty {
    background: url(imgPr1/image\ 1.png) no-repeat;
    background-color: #F5F4F0;
    height: 880px;
    width: 100%;
    position: relative;
}

.sixth-con-img-1-wrapper {
    display: flex;
}

.sixth-con-main {
    top: 100px;
    right: 697px;
    bottom: 426px;
    left: 165px;
    position: absolute;
    width: 578px;
    height: 434px;
}

.sixth-con-img-1-inside-wrapper {
    display: flex;
}

.sixth-con-img-1-1 {
    top: 100px;
    right: 165px;
    bottom: 831px;
    left: 773px;
    position: absolute;
}

.sixth-con-img-1-2 {
    top: 129px;
    right: 165px;
    bottom: 759px;
    left: 773px;
    position: absolute;
}

.sixth-con-img-1-3 {
    top: 231px;
    right: 165px;
    bottom: 565px;
    left: 773px;
    position: absolute;
}
}

.sixth-con-img-2-wrapper {
    display: flex;
}

.sixth-con-img-2-1 {
    top: 681px;
    right: 735px;
    bottom: 95px;
    left: 165px;
    position: absolute;
}

.sixth-con-img-2-2 {
    top: 681px;
    right: 165px;
    bottom: 95px;
    left: 735px;
    position: absolute;
}

#hyperbolic-depreciation {
    background: url(imgPr1/image\ 1.png) no-repeat;
    background-color: #B09A81;
    height: 937px;
    width: 100%;
    position: relative;
}
.seventh-con-img-1-wrapper {
    display: flex;
}
.seventh-con-img-1-inside-wrapper {
    display: flex;
}
.seventh-con-img-1-1 {
    padding-top: 100px;
    padding-right: 773px;
    padding-bottom: 733px;
    padding-left: 165px;
    position: absolute;
}
.seventh-con-img-1-2 {
    padding-top: 129px;
    padding-right: 773px;
    padding-bottom: 589px;
    padding-left: 165px;
    position: absolute;
}
.seventh-con-img-1-3 {
    padding-top: 303px;
    padding-right: 773px;
    padding-bottom: 395px;
    padding-left: 165px;
    position: absolute;
}
.seventh-con-img-2 {
    padding-top: 100px;
    padding-right: 165px;
    padding-bottom: 328px;
    padding-left: 697px;
    position: absolute;
}
.seventh-con-img-3-wrapper {
    display: flex;
}
.seventh0con-img-3-1 {
    padding-top: 681px;
    padding-right: 735px;
    padding-bottom: 178px;
    padding-left: 165px;
    position: absolute;
}
.seventh0con-img-3-2 {
    padding-top: 681px;
    padding-right: 165px;
    padding-bottom: 100px;
    padding-left: 735px;
    position: absolute;
}

#errors-in-planning {
    background: url(imgPr1/image\ 1.png) no-repeat;
    background-color: #F5F4F0;
    height: 919px;
    width: 100%;
    position: relative;
}
.eigth-con-img-1-wrapper {
    display: flex;
}
.eighth-con-img-1 {
    padding-top: 100px;
    padding-right: 697px;
    padding-bottom: 385px;
    padding-left: 165px;
    position: absolute;
    width: 578px;
    height: 434px;
}
.eigth-con-img-1-inside-wrapper {
    display: flex;
}
.eigth-con-img-2-1 {
    padding-top: 100px;
    padding-right: 165px;
    padding-bottom: 790px;
    padding-left: 773px;
    position: absolute;
}
.eigth-con-img-2-2 {
    padding-top: 129px;
    padding-right: 165px;
    padding-bottom: 718px;
    padding-left: 773px;
    position: absolute;
}
.eigth-con-img-2-3 {
    padding-top: 231px;
    padding-right: 165px;
    padding-bottom: 606px;
    padding-left: 773px;
    position: absolute;
}
.eigth-con-img-3-wrapper {
    display: flex;
}
.eigth-con-img-3-1 {
    padding-top: 681px;
    padding-right: 735px;
    padding-bottom: 134px;
    padding-left: 165px;
    position: absolute;
}
.eigth-con-img-3-2 {
    padding-top: 681px;
    padding-right: 165px;
    padding-bottom: 100px;
    padding-left: 735px;
    position: absolute;
}

footer {
    height: 581px;
    width: 1440px;
    position: relative;
}

.black-sq {
    display: flex;
    width: 1110px;
    height: 190px;
    top: 100px;
    left: 165px;
    position: absolute;
    background-color: #42413C;
}

.footer-con-img-1-wrapper {
    position: relative;
}

.footer-con-main-img {
    z-index: 2;
    position: absolute;
    padding-top: 55px;
    padding-right: 662px;
    padding-bottom: 55px;
    padding-left: 55px;
}

.footer-con-img-1-inside-wrapper {
    display: flex;

}

.footer-con-mail {
    padding-top: 38px;
    padding-right: 356px;
    padding-bottom: 124px;
    padding-left: 570px;
    position: absolute;
}

.footer-con-img-1-inside-inside-wrapper {
    display: flex;
}

.footer-con-position {
    position: relative;

}

.footer-con-img-1-3-wrapper {
    position: relative;
}

.footer-con-img-1-3 {
    top: 75px;
    right: 117px;
    bottom: 65px;
    left: 570px;
    position: absolute;
    width: 423px;
    height: 50px;
    background-color: white;

    z-index: ;

}

.mail {
    position: absolute;
    top: 12px;
    right: 247px;
    bottom: 21px;
    left: 15px;
    color: #757575;
    font-family: 'Open Sans';
    font-weight: 400;
    size: 13.1px;
    margin: 0;
    line-height: 160%;
    opacity: 0.2;
    display: block;
    width: 161px;
    height: 15px;
}

.pointer {
    padding-top: 75px;
    padding-right: 55px;
    padding-bottom: 65px;
    padding-left: 985px;
    position: absolute;
}

.subscribe {
    top: 130px;
    right: 254px;
    bottom: 35px;
    left: 570px;
    position: absolute;
    
}

.footer-con-img-2-wrapper {
    display: flex;
}

.y2020 {
    padding-top: 366px;
    padding-right: 576px;
    padding-bottom: 193px;
    padding-left: 575px;
    position: absolute;
}

.article {
    padding-top: 404px;
    padding-right: 485px;
    padding-bottom: 152px;
    padding-left: 484px;
    position: absolute;
}

.hexlet {
    padding-top: 445px;
    padding-right: 607px;
    padding-bottom: 111px;
    padding-left: 606px;
    position: absolute;
}
